@model List<Blogie.Web.Models.Domain.Tag>
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>
            List All Tags- Admin Functionality
        </h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>Id</tr>
                <tr>Name</tr>
                <tr>Display</tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                <th>tag.Id</th>
                <th>tag.Name</th>
                <th>tag.Display</th>
                }
            </tbody>
        </table>
    }
    else
    {
       <h1>There is no spoon</h1> 
    }

</div>
